<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/brum-global-variable/brum-global-variable.html">

<link rel="import" href="app-header.style.html">

<dom-module id="app-header">
  <template>
    <style include="app-header-styles"></style>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <div class="app-header">
        <div class="wrapper">
            <img src="/images/p-logo.png">
            <div class="app-header__title">
                Polymer Project
            </div>
        </div>
        <div class="app-header__user-info">
            <span on-click="logoutUser" class="logout"></span>
        </div>
    </div>
  </template>

  <script>
    class AppHeader extends Polymer.Element {
      static get is() { return 'app-header'; }

      static get properties() {
          return {
            name: {
                type: String
            },
            selected: {
                type: Boolean,
                observer: '_valueChanged'
            },
            style: {
                type: String,
                value: 'main deselect'
            },
            storedUser: Object
          }
      }


      constructor() {
          super();
      }

      logoutUser() {
          this.storedUser = {
              loggedin: false
          };
          window.history.pushState({}, null, '/login');
          window.dispatchEvent(new CustomEvent('location-changed'));
      }


    }

    window.customElements.define(AppHeader.is, AppHeader);
  </script>
</dom-module>
