<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../backup/shared-styles.html">

<dom-module id="my-header">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div>
      This i my header
    </div>
  </template>

  <script>
    class MyViewHeader extends Polymer.Element {
      static get is() { return 'my-header'; }
    }

    window.customElements.define(MyViewHeader.is, MyViewHeader);
  </script>
</dom-module>
