<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="test-comp">
    <template>
        <style>
        </style>
        <div>
            <h1>Hallo</h1>
        </div>
    </template>

    <script>
        class TestComp extends Polymer.Element {
            static get is() { return 'test-comp'; }

            static get properties() {
                return {
                    name: {
                        type: String
                    }
                }
            }

            constructor() {
                super();
                this.name = 'test123';
            }

        }

        window.customElements.define(TestComp.is, TestComp);
    </script>
</dom-module>
