<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="schedule-list.style.html">
<link rel="import" href="../../../state/redux-mixin.html">

<dom-module id="schedule-list">
    <template>
        <style include="schedule-list-styles"></style>

        <div class$="[[anim_toggle]]">
            <div class="schedule__title">
                <h1>
                    <img src="/images/food.svg"> Schedule
                </h1>
            </div>
            <div>
                <div class="message">
                    Waiting for store....
                    <span>[[activemenu.value]]</span>
                </div>
            </div>
        </div>
    </template>

    <script>
        class ScheduleList extends App.ReduxMixin(Polymer.Element) {
            static get is() { return 'schedule-list'; }

            static get properties() {
                return {
                    name: {
                        type: String
                    },
                    activemenu: {
                        type: Array,
                        statePath: 'app_menu.selectedmenuitem',
                        observer: '_menuChanged'
                    },
                    anim_toggle: {
                        type: String,
                        value: 'schedule'
                    }
                }
            }

            constructor() {
                super();
            }

            _menuChanged() {
                this.anim_toggle = 'schedule';
                setTimeout((() => {
                    this.anim_toggle = 'schedule schedule_anim';
                }),100);
            }

        }

        window.customElements.define(ScheduleList.is, ScheduleList);
    </script>
</dom-module>