<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="workouts-list.style.html">
<link rel="import" href="../../../state/redux-mixin.html">

<dom-module id="workouts-list">
    <template>
        <style include="workouts-list-styles"></style>

        <div class="meals">
            <div class="meals__title">
                <h1>
                    <img src="/images/food.svg"> Your workouts
                </h1>
                <a class="btn__add">
                    <img src="/images/add-white.svg"> New Workout
                </a>
            </div>
            <div>
                <div class="message">
                    <!-- <img src="/images/face.svg"> -->
                    Waiting for store....
                    <span>[[activemenu.value]]</span>
                </div>
            </div>
        </div>
    </template>

    <script>
        class WorkoutsList extends App.ReduxMixin(Polymer.Element) {
            static get is() { return 'workouts-list'; }

            static get properties() {
                return {
                    name: {
                        type: String
                    },
                    activemenu: {
                        type: Array,
                        statePath: 'app_menu.selectedmenuitem'
                    }
                }
            }

            constructor() {
                super();
            }

        }

        window.customElements.define(WorkoutsList.is, WorkoutsList);
    </script>
</dom-module>